<div class="old-page">
    <a ui-sref="old"><h4>Old Task</h4><span class="ion-chevron-right"></span></a>
</div>
<div class="list">
    <h2>Current Tasks</h2>
    <div class="legend">
        <h2>Priority Level: </h2>
        <h2><span class="ion-fireball"></span> Urgent </h2>
        <h2><span class="ion-flame"></span> High </h2>
        <h2><span class="ion-ios-circle-filled"></span> Standard </h2>
    </div>
</div>
<div class="home" ng-show="task.status == 'active'" ng-if="now - task.madeAt < 604800000" ng-repeat="task in home.tasks"> <!-- ng-if="now - task.madeAt < 10000" -->
    <span class="ion-android-checkbox-outline-blank" ng-click="markOff(task)"><span>
    <h2>{{task.content}}</h2>
    <h2>{{task.description}}</h2>
    <h2><span class={{task.priority}}></span></h2>
</div>
<div class="bottom-field">
    <!-- <form class="input" ng-submit="home.addTask(addTask.content, addTask.description, addTask.priority, 1288323623006 | date:'MM/dd/yyyy @ h:mma')"> -->
    <form class="input" ng-submit="home.addTask(addTask.content, addTask.description, addTask.priority, now)">
        <h5>Add Task | </h5>
        <h5>N:</h5><input type="text" name="newName" id="myName" class="text-field" ng-model="addTask.content">
        <h5>D:</h5><input type="text" name="description" id="myDescription" class="text-field" ng-model="addTask.description">
        <select name="priority" class="dropdown-priority" ng-model="addTask.priority">
            <option value=""></option>
            <!-- ask Jason about this -->
            <option value="ion-fireball">Urgent</option>
            <option value="ion-flame">High</option>
            <option value="ion-ios-circle-filled">Standard</option>
        </select>
        <input type="submit" value="Add" class="add-button">
        <h5>{{now | date:'MM/dd/yyyy @ h:mma'}}</h5>
    </form>
</div>
